<div class="metadata">
  <span class="rating-stars rating-stars-off"> &#9733;&#9733;&#9733;&#9733;&#9733;</span>
  <span class="rating-stars rating-stars-on">{{genStars stars}}</span>
</div>
<p>
  {{name}} {{date}}
</p>
<p>
  {{headline}}
</p>
<p>
  {{text}}
</p>
<p>
  {{recommend}}
</p>
