<a href="/{{category.slug}}/{{slug}}">
  <div class="thumbnail-wrapper">
    <img alt="{{title}}" src="/product-images/{{mainImage.thumb}}"/>
  </div>
  <div class="name"><span>{{name}}</span></div>
</a>
